@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 413px;
    height: 580px;
    background-color: #c9edff;
    background-image: linear-gradient(62deg, #c9edff 0%, #c4d6ff 100%);
    padding: 20px;
}
.fb-logo img{
    width: 52px;
    height: 50px;
}
.fb-logo{
    padding-bottom: 50px;
}
.upper-tex p{
    font-size: 13px;
    color: #3b404b;
}
.upper-div{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items : center;
}
.input-to-login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.forget{
    padding: 30px 0px 50px 0px;
    text-align: center;
}
.last-txt ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 13px;
    
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.creat-account{
    text-align: center;
    border: 1px solid blue;
    border-radius: 50px;
    width: 370px;
    padding: 10px 0px;
}
.phone input,.password input{
    width: 370px;
    height: 50px;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}
.login a{
    background-color: rgb(17, 92, 255);
    color: white;
    /* width: 370px;
    height: 50px; */
    padding: 10px 162px;
    border-radius: 50px;

}
.upper-footer img{
    width: 20px;
    height: 20px;
}
.upper-footer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-top: 20px;
}
.last-txt a{
    color: rgb(54, 54, 54);
}
.forget p{
    font-size: 15px;
}